#multi.theme-coderay .content { background: #f2f2f2; }
/* tab colors */
/* #multi.theme-coderay .list .active, #multi.theme-coderay .list li:hover { background: #BFD4FF; color: #213BfF; } */
#multi.theme-coderay .list .active, #multi.theme-coderay .list li:hover { background: #f2f2f2; color: #213BfF; }
#multi.theme-coderay .list .dirty { color:#0080FF; }

/*
  In .css files this selector matches property value names like LightGrey, GreenYellow...
*/
.cm-s-coderay span.cm-variable-2 { color: #088; }

.cm-s-coderay span.cm-string { background-color: hsla(0,100%,50%,0.05); color: #D20; }
/*
  In .css files this matches property value names like block, auto, relative, right, nowrap...
*/
.cm-s-coderay span.cm-string-2 { color: #088; }
.cm-s-coderay span.cm-number { color: #00D; }
.cm-s-coderay span.cm-bracket { color: black; }
/*
  In .clj files this matches functions/macros like not, nil?, merge...
*/
.cm-s-coderay span.cm-builtin { color: #080; font-weight: bold; }
/*
  In .html files this matches attribute names like href, class, placeholder...
  In .css files this matches property names like color, height, width...
*/
.cm-s-coderay span.cm-property { color: #b48; }
.cm-s-coderay span.cm-attribute { color: #b48; }
/*
  In .clj files this matches Clojure functions/macros like defn, def, let...
*/
.cm-s-coderay span.cm-keyword { color: #080; font-weight: bold; }
/*
  In .css file this matches class names like .class-name)
*/
.cm-s-coderay span.cm-qualifier { color: #B06; font-weight: bold; }
.cm-s-coderay span.cm-comment { color: #777; }
/*
  In .css files this matches directives like @media.
  In .js files this matches function parameters.
  The original CodeRay Alpha theme uses different colors for matchings in
  .css and .js, but as it doesn't seem to be a way to make that distinction
  in CodeMirror the color used by CodeRay for .js function params will be
  used for directives in .css too.
*/
.cm-s-coderay span.cm-def { color: black; }
/*
  In .html files this matches the <!DOCTYPE html> declaration.
*/
.cm-s-coderay span.cm-meta { color: #34b; }

/*
  In .clj files this matches Clojure keywords like :a, :bb...
*/
.cm-s-coderay span.cm-atom { color: #A60; }
/*
  In .html files this matches tags, like body, code...
  In .css files this matches HTML tags when used as selectors, ex. body, code...
  CodeRay displays the matched token differently depending on if it's in a
  .html or a .css file, but because it seems there's no way to distinguish
  that in CodeMirror/LightTable, here the HTML style will be used for CSS
  too.
 */
.cm-s-coderay span.cm-tag { color: #070; }

.cm-s-coderay div.CodeMirror-cursor { border-left: 4px solid rgb(0,174,255); }
.cm-s-coderay .CodeMirror-activeline-background {background: #e8f2ff !important;}
.cm-s-coderay .CodeMirror-matchingbracket {outline:1px solid grey;color:black !important;background:yellow;}

/* https://groups.google.com/d/msg/light-table-discussion/LXKixpzNmZM/bOPo_9ls4wIJ */
.cm-s-coderay .cm-searching { background: yellow; border-radius:0px; color: black !important; }
.cm-s-coderay .searching-current { background: orange; color: black !important; }
/*
  The next 2 rules are necessary for the matches contained in strings, which
  are displayed with its own background color, to be highlighted with the same
  background color as matches (guess the default rules don't work because
  they are not specific enough
*/
.cm-s-coderay span.cm-string.cm-searching { background: yellow; border-radius:0px; color: black !important; }
.cm-s-coderay span.cm-string.searching-current  { background: orange; color: black !important; }


/*
  https://github.com/LightTable/Rainbow/blob/master/colors.css
  Rainbow colors for light themes from
  https://raw2.github.com/jlr/rainbow-delimiters/master/rainbow-delimiters.el
*/
/* Unmatched delimiter */
.cm-s-coderay span.cm-rainbow.cm-bracket {color: red;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket1 {color: #707183;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket2 {color: #7388d6;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket3 {color: #909183;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket4 {color: #709870;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket5 {color: #907373;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket6 {color: #6276ba;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket7 {color: #858580;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket8 {color: #80a880;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket9 {color: #887070;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket10 {color: #887070;}  /* from here, same color as before */
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket11 {color: #887070;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket12 {color: #887070;}
.cm-s-coderay span.cm-rainbow.cm-bracket.cm-bracket13 {color: #887070;}  /* 1 more level than in the default theme */

